---
import RootLayout from '@/layouts/RootLayout.astro';
import NavBar from '@/components/NavBar.astro';
import { cn } from '@/lib/utils';

export interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  className?: string;
}

const { title, description, ogImage, className = '' } = Astro.props as Props;
---

<RootLayout title={title} description={description} ogImage={ogImage}>
  <NavBar />
  <main class={cn('p-4 flex-1 page-animation w-full max-w-3xl mx-auto', className)}>
    <slot />
  </main>
</RootLayout>

<style>
  .page-animation {
    animation: blur-in 0.2s linear;
  }

  @keyframes blur-in {
    from {
      opacity: 0;
      filter: blur(2px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }
</style>
