---
import PageLayout from '@/layouts/PageLayout.astro';
import PageHeader from '@/components/layout/PageHeader.astro';
---

<PageLayout title="Gallery" description="A collection of my art and visuals.">
  <PageHeader subtitle="A collection of my art"> Gallery </PageHeader>
  <p>coming soon...</p>
</PageLayout>
