---
import { getCollection } from 'astro:content';
import PageLayout from '@/layouts/PageLayout.astro';
import PageHeader from '@/components/layout/PageHeader.astro';
import type { Journal } from '@/types/journal';

import Card from '@/components/features/journal/card.astro';

const journals = await getCollection('journal');
const sortedJournals = journals.sort((a: Journal, b: Journal) => b.data.date.getTime() - a.data.date.getTime());
---

<PageLayout title="Journal" description="My thoughts, experiments and notes.">
  <PageHeader subtitle="Where I write dumb stuff and random thoughts">Journal</PageHeader>

  {
    sortedJournals.length === 0 ? (
      <p>No journals found :(</p>
    ) : (
      <div class="flex flex-col items-start gap-4">
        {sortedJournals.map((journal: Journal) => (
          <Card journal={journal} />
        ))}
      </div>
    )
  }
</PageLayout>
