---
import { getCollection } from 'astro:content';
import PageLayout from '@/layouts/PageLayout.astro';
import PageHeader from '@/components/layout/PageHeader.astro';
import HighlightLink from '@/components/ui/HighlightLink.astro';
import type { Journal } from '@/types/journal';

const journals = await getCollection('journal');
const sortedJournals = journals.sort((a: Journal, b: Journal) => b.data.date.getTime() - a.data.date.getTime());
---

<PageLayout title="Journal" description="My thoughts, experiments and notes.">
  <PageHeader subtitle="Where I write dumb stuff and random thoughts"> Journal </PageHeader>

  {
    sortedJournals.length === 0 ? (
      <p>No journals found :(</p>
    ) : (
      <div class="flex flex-col items-start gap-4">
        {sortedJournals.map((note: Journal) => (
          <article class="flex items-center gap-2">
            <HighlightLink href={`/journal/${note.slug}`} class="bg-primary/80">
              {note.data.title}
            </HighlightLink>
            <span>-</span>
            <time datetime={note.data.date.toISOString()} class="text-muted-foreground">
              {note.data.date.toLocaleDateString()}
            </time>
          </article>
        ))}
      </div>
    )
  }
</PageLayout>
