---
import { GitHub, X, Linkedin } from '@/components/icons/index.astro';
---

<section class="my-4 flex flex-col items-center gap-2 text-center">
  {/* Icons */}
  <div class="flex items-center gap-6">
    <a href="https://github.com/sharqawycs" target="_blank" rel="noopener noreferrer" aria-label="Sharqawy GitHub profile">
      <GitHub />
    </a>

    <a href="https://x.com/sharqawycs" target="_blank" rel="noopener noreferrer" aria-label="Sharqawy X profile">
      <X />
    </a>

    <a href="https://linkedin.com/in/sharqawycs" target="_blank" rel="noopener noreferrer" aria-label="Sharqawy LinkedIn profile">
      <Linkedin />
    </a>
  </div>

  {/* Email */}
  <a href="mailto:your.email@example.com" class="text-foreground hover:text-primary text-sm no-underline transition-colors duration-150">
    sharqawycs@gmail.com
  </a>
</section>
