---
export interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} class="text-foreground hover:text-primary font-serif text-lg font-semibold italic hover:underline sm:font-bold">
  <slot />
</a>
