---
import Separator from './ui/Separator.astro';
import ThemeToggler from './ui/ThemeToggler.astro';
---

<header class="sticky top-0 z-10 w-full border-b bg-transparent backdrop-blur-md backdrop-saturate-150">
  <div class="not-prose mx-auto flex h-12 max-w-3xl items-center justify-between px-4 sm:h-14">
    <a
      href="/"
      class="text-foreground hover:text-primary font-serif text-xl font-medium italic transition-colors duration-150 hover:underline">
      sherqo
    </a>

    <div class="flex items-center gap-4">
      {/* X Logo */}
      <a href="https://x.com/sharqawycs" target="_blank" rel="noopener noreferrer" aria-label="Sharqawy X profile">
        <svg viewBox="0 0 512 512" class="hover:text-primary text-foreground h-6 w-6 transition-colors duration-150">
          <path
            fill="currentColor"
            d="M389.2 48h70.6L305.6 224.2L487 464H345L233.7 318.6L106.5 464H35.8l164.9-188.5L26.8 48h145.6l100.5 132.9zm-24.8 373.8h39.1L151.1 88h-42z"
          ></path>
        </svg>
      </a>

      {/* GH Logo */}
      <a href="https://github.com/sharqawycs" target="_blank" rel="noopener noreferrer" aria-label="Sharqawy GitHub profile">
        <svg viewBox="0 0 496 512" class="hover:text-primary text-foreground h-6 w-6 transition-colors duration-150">
          <path
            fill="currentColor"
            d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6c-3.3.3-5.6-1.3-5.6-3.6c0-2 2.3-3.6 5.2-3.6c3-.3 5.6 1.3 5.6 3.6m-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9c2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3m44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9c.3 2 2.9 3.3 5.9 2.6c2.9-.7 4.9-2.6 4.6-4.6c-.3-1.9-3-3.2-5.9-2.9M244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2c12.8 2.3 17.3-5.6 17.3-12.1c0-6.2-.3-40.4-.3-61.4c0 0-70 15-84.7-29.8c0 0-11.4-29.1-27.8-36.6c0 0-22.9-15.7 1.6-15.4c0 0 24.9 2 38.6 25.8c21.9 38.6 58.6 27.5 72.9 20.9c2.3-16 8.8-27.1 16-33.7c-55.9-6.2-112.3-14.3-112.3-110.5c0-27.5 7.6-41.3 23.6-58.9c-2.6-6.5-11.1-33.3 2.6-67.9c20.9-6.5 69 27 69 27c20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27c13.7 34.7 5.2 61.4 2.6 67.9c16 17.7 25.8 31.5 25.8 58.9c0 96.5-58.9 104.2-114.8 110.5c9.2 7.9 17 22.9 17 46.4c0 33.7-.3 75.4-.3 83.6c0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252C496 113.3 383.5 8 244.8 8M97.2 352.9c-1.3 1-1 3.3.7 5.2c1.6 1.6 3.9 2.3 5.2 1c1.3-1 1-3.3-.7-5.2c-1.6-1.6-3.9-2.3-5.2-1m-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9c1.6 1 3.6.7 4.3-.7c.7-1.3-.3-2.9-2.3-3.9c-2-.6-3.6-.3-4.3.7m32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2c2.3 2.3 5.2 2.6 6.5 1c1.3-1.3.7-4.3-1.3-6.2c-2.2-2.3-5.2-2.6-6.5-1m-11.4-14.7c-1.6 1-1.6 3.6 0 5.9s4.3 3.3 5.6 2.3c1.6-1.3 1.6-3.9 0-6.2c-1.4-2.3-4-3.3-5.6-2"
          ></path>
        </svg>
      </a>

      {/* Another Github icon */}
      {
        /*<a href="https://github.com/sharqawycs" target="_blank" rel="noopener noreferrer" aria-label="Sharqawy GitHub profile">
        <svg viewBox="0 0 24 24" class="hover:text-primary text-foreground h-6 w-6 transition-colors duration-150">
          <path
            fill="currentColor"
            d="M7.0236,2.31058 C7.64222,2.52096 8.40745,2.85626 9.14865,3.35611 C10.0469,3.12454 11.0061,3 12.0001,3 C12.993,3 13.9513,3.12429 14.8488,3.35541 C15.5898,2.85581 16.3549,2.52068 16.9733,2.31041 C17.6702,2.07347 18.6635,1.68873 19.2532,2.34204 C19.6536,2.78558 19.7529,3.52998 19.8243,4.09751 C19.9041,4.7317 19.9227,5.55836 19.7128,6.37797 C20.5157,7.41477 21.0001,8.65244 21.0001,10 C21.0001,12.0422 19.894,13.8148 18.2569,15.0426 C17.5034,15.6077 16.6274,16.0673 15.6667,16.3988 C15.8811,16.8891 16.0001,17.4307 16.0001,18 L16.0001,21 C16.0001,21.5523 15.5523,22 15.0001,22 L9.00005,22 C8.44777,22 8.00005,21.5523 8.00005,21 L8.00005,20.0087 C7.04473,20.1257 6.24413,20.0222 5.5626,19.7331 C4.85081,19.4311 4.35469,18.9627 3.98181,18.5152 C3.62811,18.0908 3.2425,17.1349 2.6838,16.9487 C2.15986,16.774 1.8767,16.2077 2.05134,15.6838 C2.22599,15.1598 2.79231,14.8767 3.31625,15.0513 C3.98203,15.2732 4.41554,15.7534 4.71319,16.1386 C5.19225,16.7585 5.58364,17.5695 6.3437,17.8919 C6.65626,18.0245 7.11546,18.1125 7.8323,18.0137 L8.0001,17.9802 C8.00283,17.4181 8.12149,16.8834 8.33341,16.3988 C7.37273,16.0673 6.49666,15.6077 5.7432,15.0426 C4.10606,13.8148 3.00005,12.0422 3.00005,10 C3.00005,8.65402 3.48329,7.41765 4.28448,6.38159 C4.07379,5.56134 4.09217,4.73379 4.17192,4.09897 C4.17352,4.08622 4.17512,4.07342 4.17673,4.06057 C4.24961,3.47909 4.33549,2.79383 4.74307,2.34215 C5.33266,1.6888 6.32676,2.07361 7.0236,2.31058 Z">
          </path>
        </svg>
      </a>*/
      }

      {/* LinkedIn Logo */}
      <!-- <a href="https://linkedin.com/in/sharqawycs" target="_blank" rel="noopener noreferrer" aria-label="Sharqawy LinkedIn profile">
        <svg viewBox="0 0 512 512" class="hover:text-primary text-foreground h-6 w-6 transition-colors duration-150">
          <path
            fill="currentColor"
            d="M116.504,500.219V170.654H6.975v329.564H116.504 L116.504,500.219z M61.751,125.674c38.183,0,61.968-25.328,61.968-56.953c-0.722-32.328-23.785-56.941-61.252-56.941 C24.994,11.781,0.5,36.394,0.5,68.722c0,31.625,23.772,56.953,60.53,56.953H61.751L61.751,125.674z M177.124,500.219 c0,0,1.437-298.643,0-329.564H286.67v47.794h-0.727c14.404-22.49,40.354-55.533,99.44-55.533 c72.085,0,126.116,47.103,126.116,148.333v188.971H401.971V323.912c0-44.301-15.848-74.531-55.497-74.531 c-30.254,0-48.284,20.38-56.202,40.08c-2.897,7.012-3.602,16.861-3.602,26.711v184.047H177.124L177.124,500.219z"
          ></path>
        </svg>
      </a> -->

      <Separator />
      <ThemeToggler />
    </div>
  </div>
</header>
