---
interface PageHeaderProps {
  subtitle?: string;
  date?: string;
}

const { subtitle, date } = Astro.props as PageHeaderProps;
---

<header class="mb-8">
  <h1 class="mb-2">
    <slot />
  </h1>
  {subtitle && <p class="lead mt-2 mb-2">{subtitle}</p>}
  {/*/ TODO, add user icons and name or smth */}
  {date && <time class="hidden text-sm">{date}</time>}
</header>
