---
import RootLayout from '@/layouts/RootLayout.astro';
import NavBar from '@/components/NavBar.astro';
import { cn } from '@/lib/utils';

export interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  class?: string;
}

const { title, description, ogImage, class: className = '' } = Astro.props as Props;
---

<RootLayout title={title} description={description} ogImage={ogImage}>
  <NavBar />
  <main class={cn('p-4 flex-1 w-full max-w-3xl mx-auto', className)}>
    <slot />
  </main>
</RootLayout>
