---
import Page from '@/components/layout/Page.astro';
import PageHeader from '@/components/PageHeader.tsx';
---

<Page title="Content Worth Consuming" description="Selected writing and projects I think are worth your time.">
  <PageHeader subtitle="Stuff I actually think is worth your time"> Content Worth Consuming </PageHeader>
  <p>coming soon...</p>
</Page>
