---
import Page from '@/components/layout/Page.astro';
import PageHeader from '@/components/PageHeader.tsx';
---

<Page 
  title="Gallery" 
  description="A collection of my art and visuals."
>
  <PageHeader subtitle="A collection of my art" client:load>
    Gallery
  </PageHeader>
  <p>coming soon...</p>
</Page>
